* {
    font-family: sans-serif;
}

footer {
    background-color: #00929d;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    font-size: 1.2rem;
}

section.total {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 5%;
    border-top: none;
}

section.total div.box_total {
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    border: 2px solid #014b68c5;
    margin: 9%;
    background-color: #025d813a;
}


